<!--.preloader-->
<div class="preloader"> <i class="fa fa-cog fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(/assets/slider/stickbattle.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Armani <span>Hall</span></h1>
            <p class="animated fadeInRightBig">Front End Web Developer</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(/assets/slider/deer.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Armani <span>Hall</span></h1>
            <p class="animated fadeInRightBig">Back End Web Developer</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about">Start now</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#about"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
            <h1><img class="img-responsive" src="/assets/logoicon40.jpg" alt="logo"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#about">About</a></li>
            <li class="scroll"><a href="#portfolio">Portfolio</a></li>
            <li class="scroll"><a href="#blog">Blog</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="about" class="parallax">
    <div class="container">
      <div class="row">
        <div class="me-col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Who I Am</h2>
              <div class="me wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="me-image">
                  <img class="img-responsive" src="/assets/me/Headshot.jpg" alt="headshot">
                </div>
                <div class="me-info">
                  <h3>Armani Hall | <span>Web Developer</span></h3>
                  <p>I am a full stack web developer immersive graduate from General Assembly with a passion for coding and problem solving. I'm always eager to learn new technologies and strengthen my skills. I have a BS in Psychology from VCU and have spent over a decade in the informal education side of the museum industry handling direct customer service. I am level headed, goal focused and strive to anticipate challenges before they arise in order to maximize productivity. I also REALLY like to cook. <i class="fa fa-cutlery"></i> </p>
                <div class="social-icons">
                  <ul>
                    <li><a class="email" href="mailto:armanihall@gmail.com"><img src="/assets/icons/email-2-46px.png"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/charmani226/"><img src="/assets/icons/instagram-46px.png"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/Charmani226"><img src="/assets/icons/twitter-46px.png"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/armani-hall-86100837"><img src="/assets/icons/linkedin-46px.png"></i></a></li>
                    <li><a class="github" href="https://github.com/ArmaniH"><img src="/assets/icons/github-46px.png"></i></a></li>
                  </ul>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="skills-col-sm-6">
          <div class="skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="3000ms" data-wow-delay="500ms">
              <p class="lead">HTML | CSS</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="3000ms" data-wow-delay="600ms">
              <p class="lead">Ruby | Rails</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="75">75%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="3000ms" data-wow-delay="700ms">
              <p class="lead">Mean Stack</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="50">50%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="3000ms" data-wow-delay="800ms">
              <p class="lead">Javascript | jQuery</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </section><!--/#about-->

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Portfolio</h2>
          <p>Please explore a few of my projects</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="/assets/portfolio/cookt1.png" alt="Cookt Application">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Cookt</h3>
                    <p>jQuery/Rails app using APIs and SMS functionality</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="https://cookt.herokuapp.com/" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand"><a href="/assets/portfolio/cookt1.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="img-responsive" src="/assets/portfolio/trollQuotes1.png" alt="Troll Quotes Application">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Troll Quotes</h3>
                    <p>JavaScript/Express/MongoDB app that provides a randomized image macro containing a quote and author</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="https://troll-quote.herokuapp.com/" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand"><a href="/assets/portfolio/trollQuotes1.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="img-responsive" src="/assets/portfolio/tequilaTrivia1.png" alt="Tequila Trivia">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Tequila Trivia</h3>
                    <p>jQueri/CSS designed trivia game on the magical elixir Tequila</p>
                  </div>
                  <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="http://armanih.github.io/TequilaTrivia/" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                    <span class="folio-expand"><a href="/assets/portfolio/tequilaTrivia1.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->

  <section id="blog" class="parallax">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Blog Posts</h2>
        </div>
      </div>
      <div class="blog-posts">
        <div class="row">
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="post-thumb">
              <a href="https://github.com/ArmaniH/Bash-Profile-Tutorial/blob/master/BashProfileTutorial.md"><img class="img-responsive" src="/assets/blog/binbash.sh-600x600.png" alt=""></a>
              <div class="post-meta">
                <span><i class="fa fa-comments-o"></i> 0 Comments</span>
                <span><i class="fa fa-heart"></i> 0 Likes</span>
              </div>
              <div class="post-icon">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="entry-header">
              <h3><a href="https://github.com/ArmaniH/Bash-Profile-Tutorial/blob/master/BashProfileTutorial.md"><strong>Intro to Bash Profile</strong></a></h3>
              <span class="date">June 26, 2015</span>
              <span class="cetagory"></span>
            </div>
            <div class="entry-content">
              <p>A quick intro into customizing your Bash profile.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#blog-->

  <section id="contact">
    <div id="google-map" class="wow fadeIn" data-latitude="37.5385" data-longitude="-77.4360" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
    <div id="contact-me" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact</h2>
            <p>Questions | Comments | Slow Cooker Recipes</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <!-- <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>
            </div> -->
            <!-- <div class="col-sm-6"> -->
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>If there is anything interesting I might be able to help you with or you'd just like to exchange recipes, don't hesitate to contact me.</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Address:</span> Richmond, Virginia </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> 804.868.8653 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:armanihall@gmail.com"> armanihall@gmail.com</a></li>
                  <!-- <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.sitename.com</a></li> -->
                </ul>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="social-icons">
          <ul>
            <li><a class="email" href="mailto:armanihall@gmail.com"><img src="/assets/icons/email-2-46px.png"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/charmani226/"><img src="/assets/icons/instagram-46px.png"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/Charmani226"><img src="/assets/icons/twitter-46px.png"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/armani-hall-86100837"><img src="/assets/icons/linkedin-46px.png"></i></a></li>
            <li><a class="github" href="https://github.com/ArmaniH"><img src="/assets/icons/github-46px.png"></i></a></li>
          </ul>
        </div>
        <p>Made with gusto by Armani Hall</p>
          <h5>© ALL RIGHTS RESERVED</h5>
        <!-- <div class="footer-logo">
          <a href="#home"><img class="img-responsive" src="/assets/logoicon.jpg" alt=""></a> -->
        </div>
      </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </footer>
