<!DOCTYPE html>
<html>
<head>
  <title>AHPortfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="web/js/jquery.min.js"></script>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/lightbox.css" rel="stylesheet">
    <link href="assets/stylesheets/main.css" rel="stylesheet">
    <link id="css-preset" href="/assets/stylesheets/presets/preset1.css" rel="stylesheet">
    <link href="/assets/stylesheets/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'> -->
    <link rel="shortcut icon" href="/assets/favicon.ico">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="/assets/javascripts/jquery.js"></script>
<script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/assets/javascripts/jquery.inview.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/wow.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/mousescroll.js"></script>
<script type="text/javascript" src="/assets/javascripts/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/javascripts/jquery.countTo.js"></script>
<script type="text/javascript" src="/assets/javascripts/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/javascripts/main.js"></script>
</body>
</html>
